.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid black;
/*    box-sizing: border-box;*/
}

.slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/*
input:checked + .slider {
    background-color: #2196F3;
}
*/

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
    background-color: #d5000f;
}


.top-nav {
    background-color: #f0f0f0;
}

.top-nav:after {
    content: '';
    display: block;
    clear: both;
}

.top-nav .left {
    float: left;
}

.top-nav .right {
    float: right;
}

.top-nav .right > * {
    float: right;
    margin-left: 12px;
}

.top-nav .right label {
    margin-top: 16px
}

.top-nav .right select {
    margin-top: 16px;
}

.top-nav .right .vat:after {
    content: " [?]";
    color: #d5000f
}